@import url("bootstrap.min.css");  
.index{
	background-image: url(foxtail.png);
	background-repeat: repeat;
}
.nav nav-tabs{
	width: 500px;
	background-color: green;
	
}
/*___BOOTSCRAP_____________________________________________________________________*/
.form-control{
	height: 30px;
	width: 200px;
}
/*___END___BOOTSCRAP_____________________________________________________________________*/
.row div{
	height: 200px;
	background-color: #555;
}
.content{
	margin: 0px auto;
	width: 100%;
	height: 90%;
	float: left;
}
.avatar{
	float: left;
	padding-top: 100px; 
	padding-left: 100px;
}
.name{
	float: left;
	font-size: 22px;
	font-family: Candara;
	padding-top: 100px; 
	padding-left: 50px;
}
.head{
	top: 0px;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	line-height: 50px;
	position: fixed;
	width: 100%;
}
.head a{
	padding-left: 40px;
	font-family: Candara;
	color: black;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.it_people{
	position: relative;
	margin-left: 50%;
	height: 480px;
	width: 640px;
	background-image: url(ITpeople.png);
}
.text{
	font-family: Candara;
	color: black;
	font-size: 18px;
	padding-top: 30px;
	padding-left: 200px;
	text-transform: uppercase;
}
.bottom{
	background: rgba(0, 0, 0, 0.3);
	height:55px; 
	bottom: 10px;
	font-family: Candara;
	color: white;
	font-size: 18px;
	margin: 0px auto;
	text-align: center;
	line-height: 50px;
	bottom: 0px; 
	text-transform: uppercase
	}

/* 404 --------------------------------------------------------------------------------*/
	a:link {font-size:22px; color:black}
	a:visited {font-size:22px; color:black}
	a:hover {font-size:22px; color:red}
textarea {
    background-color: #f0f0f0;
    border: 2px solid #c6c6c6;
    height: 135px;
    width: 506px;
    word-wrap: break-word;
}
.404{
	background-color: white;
	background-image: inherit;
}
.logo {
	margin-left: 60%;
	width:841px;
	height:238px;
    background-image: url(logo.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
}
.home {
	padding-top:120px;
	padding-left:60px;
	font-size:22px;
	font-weight:bold;
}

.error {
	margin:auto;
	width:841px;
	height:326px;
    background-image: url(404.jpg);
	background-color: #ffffff;
	background-repeat: no-repeat;
}
.message {
	padding-top:60px;
	padding-left:60px;
}
.form {
	border-radius:44px;
	-webkit-border-radius:6px;
	-moz-border-radius:5px;
	-khtml-border-radius:10px;
}
/* end 404 --------------------------------------------------------------------------------*/
